.dropdown-hover{ background-color: #fbfbfb; }
.dropdown-hover:hover { background-color: #eee; }

.dropdown-entry-hover{ background-color: #fefefe; }
.dropdown-entry-hover:hover { background-color: #eee; }